.text-purchases {
  color: var(--primary-color);
  font-weight: bold;
}

strong,
span {
  color: var(--tertiary-color);
}

.btn-rating {
  position: absolute;
}

span:hover {
  color: var(--primary-color);
}
